<form method="get" action="/tweets">
  <input type="hidden" name="lat" value="<%=params[:lat]%>">
  <input type="hidden" name="lon" value="<%=params[:lon]%>">
  <h3>
    Tweets using the word
    <input type="text" name="word" value="<%= params[:word] %>">
     near you:
  </h3>
</form>

<style>
  #map_canvas{
    height: 400px;
    width: 400px;
    margin: 20px;
  }
</style>
<div id="map_canvas"></div>
<script> initialize(<%=request.params[:lat]%>, <%=request.params[:lon]%>) </script>


<ul class="media-list">
  <% @tweets.each do |tweet| %>
    <li class="media">
      <%= image_tag(tweet["profile_image_url"]) %>
      
      <strong>@<%= tweet["from_user"] %></strong>
      <%= tweet["text"] %>
    </li>
  <% end %>
</ul>
